.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 25vh;
  padding-top: 50px;
}

.Header form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

input {
  height: 20px;
  width: 250px;
}


