body {
  height: 100vh;
}

.header-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
    text-decoration: none;
}

.ronda {
  text-align: center;
}

.estrellitavacia {
  width: 30px;
  height: 30px;
}

.casa {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.centro {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.estrella {
  height: 60vh;
}

.elementos {
  display: flex;
  flex-direction: column;
}

.choice {
  width: 100px;
  height: 100px;
  padding-top: 50px;
}

.choiceG {
  width: 300px;
  height: 300px;
  padding-top: 100px;
}


.hidden {
  display: none;
}



@media (max-width: 700px) {
  .header-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8px;
  }

  .casa {
    width: 25px;
    height: 25px;
  }

  .estrellitavacia {
    width: 15px;
    height: 15px;
  }

  .elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .choice {
    width: 50px;
    height: 50px;
    padding-right: 20px;
  }

  .estrella {
    height: 30vh;
    padding-top: 30px;
  }

  .centro {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
  }
}