.Welcome {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.Contenedor {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

h2 {
  text-decoration: underline;
}

.LogoHome {
  height: 20vh;
  padding-top: 50px;
}

.Logout {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  body {
    height: 100vh;
  }
  
  .App-button {
    text-align: center;
  }

  .Welcome {
    padding: 5px;
    text-align: center;
  }

  .Contenedor {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LogoHome {
    height: 20vh;
    display: flex;
    align-items: center;
  }

  .PartidasJugadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .PartidasEnCurso {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}