.card {
  display: flex;
  justify-content: center;
}

.App-button-oponentes {
  background-color: #ffffff;
  color: black;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 6px 9px 2px #840099;
  height: 30px;
  width: 350px;
  text-decoration: none; 
  border: 4px black;
}

@media (max-width: 700px) {
  .App-button-oponentes {
    width: 250px;
  }
}