.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.Logo {
  height: 20vh;
  padding-right: 10px;
}

@media (max-width: 700px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  
  .Logo {
    height: 10vh;
    padding-left: 10px;
  }
}

