body {
  background-image: url('./Assets/FONDO.jpg');
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-button {
  background-color: #840099;
  color: #ffffff;
  padding: 5px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 6px 9px 2px #840099;
  height: 30px;
  width: 150px;
  text-decoration: none;
  border: 4px black;
}